.card-container {

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-top: 1vh;
    row-gap: 1vh;
}

.card-container::before{
    content: "";
    margin-top: auto;

}

#lists-container {
    
    flex-direction: column-reverse;
    width: 100%;
    background-color: transparent;
}


.list-card {

    border: 1px solid var(--border-color);
    background-color: var(--surface-color);
    width: 100%;
    height: 12vh;
    padding: 0 8px;
}

.item-card {

    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--surface-color);

    position: relative;

    display: flex;

    width: 100%;
    
    padding: 2px 8px;
    box-sizing: border-box;
}

.item-display-card {

    width: 80%;
    border: 1px solid var(--border-color);
    background-color: var(--surface-color);
}

.item-card-info {

    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-name {
    
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.item-card-info > span {

    width: 100%;
}

.item-card button {

    height: 50%;
    width: 10vw;
}


.list-selection-card {

    background-color: var(--list-selection-card-bg);
    display: flex;
    justify-content: center;
    color: var(--list-selection-card-text);
    width: 60%;
}

.selected-list-card {

    background-color: var(--selected-list-bg);
}

.item-checked {

    background-color: var(--item-checked-bg);
}

.item-menu {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-menu button {

    width: 100%;
    height: 50%;
    border: none;
    background-color: var(--hover-bg);

}

.item-menu svg {

    width: 24px;
}