.card-container {

    display: flex;
    flex-direction: column-reverse;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}

#lists-container {
    
    flex-direction: row-reverse;
    width: 100%;

    flex-wrap: wrap;
}

.card-container::before {
    content: '';
    margin-top: auto;
    margin-left: auto;
}

.list-card {

    border: 1px solid black;

    padding: 0 1vw 0 1vw;
    margin: 2vw;
    width: 24vw;
    overflow-wrap: break-word;
}

.item-card {

    border: 1px solid black;

    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    padding: 0 1vw;
    box-sizing: border-box;
}

.item-card span {

    margin: 1vw;
}

.item-card button {

    height: 50%;
}

.item-card-info {

    width: 100%;
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.list-selection-card {

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    color: white;
    width: 60%;
}

.selected-list-card {

    background-color: pink;
}

.item-display-card {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    border: 1px solid black;
    background-color: #fff;
    padding: 2vh 2vw;
}