body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

body, html {

  overscroll-behavior: none;
}

.container {

  display: flex;
  flex-direction: column;
  padding: 1vw;
  height: 100vh;
  box-sizing: border-box;
}