.lists-items-containers {

    display: flex;
    flex-direction: column;
}

.dashboard-lists-container {

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 35vh;
    min-height: 200px;
    margin-right: 1vw;
    padding: 2vw;
    box-sizing: border-box;
    
    overflow: hidden;
}

.dashboard-items-container {

    border: 2px solid black;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 55vh;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard-menu-container {

    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vh;
}

.dashboard-menu{

    justify-content: center;
    display: flex;

    border: 2px solid black;
    height: 6vh;
    width: 100%;
    bottom: 2vh;
}

.dashboard-menu button {

    width: 100%;
}

.interaction-menu {

    border: 1px solid black;

    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1vh 1vw;
}

.interaction-menu input {

    width: 100%;
    padding: 1vh 1vw;
    align-items: center;
    box-sizing: border-box;
    padding-left: 7vw;
    background-color: transparent;
}

.interaction-menu input::placeholder{

    color: black;
}

.search-bar-svg {

    position: absolute;
    z-index: -1;
    fill: #000;
    opacity: 0.5;
    padding-left: 1vw;
}

.filter-menu-container {

    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    padding: 0 1vw;
}

.filter-menu-container button {

    position: relative;
    background-color: transparent;
    border: none
}

.filter-menu-container button:hover{

    background-color: #f0f0f0;
}

#lists-arrow-up-icon {

    display: none;
}

#items-arrow-up-icon {

    display: none;
}

.search-bar-container {

    width: 100%;
}