.items-panel-container {
    border: 2px solid var(--border-color);
    background-color: var(--panel-color);

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
}

.action-menu-container {

    display: flex;
    flex-direction: row;
    width: 100%;

}

.action-menu{

    justify-content: center;
    display: flex;

    border: 2px solid var(--border-color);
    height: 6vh;
    width: 100%;
}

.action-menu button {

    width: 100%;
    background-color: transparent;
    border: none;
}

.interaction-menu {
    border: 1px solid var(--border-color);

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    max-height: 8vh;
    box-sizing: border-box;
    padding: 8px;
}

.interaction-menu input {

    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--input-bg);
    color: var(--text-color);
}

.interaction-menu input::placeholder{
    color: var(--placeholder-color);
}

.search-bar-svg {

    position: absolute;
    z-index: -1;
    opacity: 0.5;
    padding-left: 4px;
    margin-top: 4px;
}

.filter-menu-container {

    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    padding: 0 8px;
}

.filter-menu-container button {

    position: relative;
    background-color: transparent;
    border: none
}

.filter-menu-container button:hover{
    background-color: var(--hover-bg);
}

#lists-arrow-up-icon {

    display: none;
}

#items-arrow-up-icon {

    display: none;
}

.search-bar-container {

    width: 100%;
}